-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: datamanbhs
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance_records`
--

DROP TABLE IF EXISTS `attendance_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `work_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('present','absent','sick_leave','annual_leave','business_leave','personal_leave','ordination_leave','caregiver_leave','maternity_leave','other_leave','holiday','late') NOT NULL DEFAULT 'present',
  `days_count` decimal(4,1) NOT NULL DEFAULT 1.0,
  `shift` varchar(20) NOT NULL DEFAULT 'A',
  `hours` decimal(4,1) NOT NULL DEFAULT 8.0,
  `remarks` text DEFAULT NULL,
  `document_ref` varchar(100) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_emp_date` (`employee_id`,`work_date`),
  KEY `idx_work_date` (`work_date`),
  KEY `idx_status` (`status`),
  KEY `idx_shift` (`shift`),
  KEY `fk_att_user` (`created_by`),
  CONSTRAINT `fk_att_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_att_user` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=214 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_records`
--

LOCK TABLES `attendance_records` WRITE;
/*!40000 ALTER TABLE `attendance_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bhs_production_records`
--

DROP TABLE IF EXISTS `bhs_production_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bhs_production_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_id` int(11) NOT NULL,
  `seq_no` int(11) DEFAULT 0,
  `shift` varchar(10) DEFAULT '',
  `plan_order` varchar(50) DEFAULT '',
  `order_no` varchar(50) DEFAULT '',
  `wo_no` varchar(100) DEFAULT '',
  `wo_prefix` varchar(20) DEFAULT '',
  `flute` varchar(20) DEFAULT '',
  `m1_weight` decimal(12,3) DEFAULT 0.000,
  `m2_weight` decimal(12,3) DEFAULT 0.000,
  `m3_weight` decimal(12,3) DEFAULT 0.000,
  `m4_weight` decimal(12,3) DEFAULT 0.000,
  `m5_weight` decimal(12,3) DEFAULT 0.000,
  `m1_paper` varchar(50) DEFAULT '',
  `m2_paper` varchar(50) DEFAULT '',
  `m3_paper` varchar(50) DEFAULT '',
  `m4_paper` varchar(50) DEFAULT '',
  `m5_paper` varchar(50) DEFAULT '',
  `m1_gsm` int(11) DEFAULT 0,
  `m2_gsm` int(11) DEFAULT 0,
  `m3_gsm` int(11) DEFAULT 0,
  `m4_gsm` int(11) DEFAULT 0,
  `m5_gsm` int(11) DEFAULT 0,
  `m1_class` varchar(20) DEFAULT '',
  `m2_class` varchar(20) DEFAULT '',
  `m3_class` varchar(20) DEFAULT '',
  `m4_class` varchar(20) DEFAULT '',
  `m5_class` varchar(20) DEFAULT '',
  `paper_width_mm` decimal(10,2) DEFAULT 0.00,
  `sheet_length_mm` decimal(10,2) DEFAULT 0.00,
  `sheet_weight_kg` decimal(10,6) DEFAULT 0.000000,
  `good_big_sheets` int(11) DEFAULT 0,
  `waste_big_sheets` int(11) DEFAULT 0,
  `knife_t` int(11) DEFAULT 0,
  `knife_s` decimal(10,2) DEFAULT 0.00,
  `trim_mm` decimal(10,2) DEFAULT 0.00,
  `f1` int(11) DEFAULT 0,
  `f2` int(11) DEFAULT 0,
  `f3` int(11) DEFAULT 0,
  `f4` int(11) DEFAULT 0,
  `f5` int(11) DEFAULT 0,
  `f6` int(11) DEFAULT 0,
  `total_small_sheets` int(11) DEFAULT 0,
  `good_small_sheets` int(11) DEFAULT 0,
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  `production_seconds` int(11) DEFAULT 0,
  `stop_count` int(11) DEFAULT 0,
  `stop_time_sec` int(11) DEFAULT 0,
  `stack_count` int(11) DEFAULT 0,
  `avg_speed` decimal(10,2) DEFAULT 0.00,
  `total_weight_kg` decimal(12,4) DEFAULT 0.0000,
  `total_area_sqm` decimal(12,2) DEFAULT 0.00,
  `total_length_m` decimal(12,2) DEFAULT 0.00,
  `total_volume_sqm` decimal(12,3) DEFAULT 0.000,
  `add_order` int(11) DEFAULT 0,
  `add_small_sheets` int(11) DEFAULT 0,
  `add_weight` decimal(12,4) DEFAULT 0.0000,
  `production_minutes` decimal(10,2) DEFAULT 0.00,
  `meter_bucket` int(11) DEFAULT 0,
  `cutleng_bucket` int(11) DEFAULT 0,
  `trim_side_mm` decimal(10,2) DEFAULT 0.00,
  `trim_bucket` int(11) DEFAULT 0,
  `speed_bucket` int(11) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_report` (`report_id`),
  KEY `idx_shift` (`shift`),
  KEY `idx_flute` (`flute`),
  KEY `idx_wo` (`wo_prefix`),
  CONSTRAINT `fk_bhs_report` FOREIGN KEY (`report_id`) REFERENCES `bhs_shift_reports` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3385 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bhs_production_records`
--

LOCK TABLES `bhs_production_records` WRITE;
/*!40000 ALTER TABLE `bhs_production_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `bhs_production_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bhs_shift_reports`
--

DROP TABLE IF EXISTS `bhs_shift_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bhs_shift_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL DEFAULT 'เธฃเธฒเธขเธเธฒเธเธเธฃเธฐเธชเธดเธ—เธเธดเธ เธฒเธเธเธฒเธฃเน€เธ”เธดเธเธเธฒเธ BHS',
  `machine_name` varchar(50) NOT NULL DEFAULT 'BHS',
  `shift` varchar(10) NOT NULL DEFAULT 'B',
  `report_date` date NOT NULL,
  `shift_end_time` varchar(50) DEFAULT '8.00',
  `order_start` int(11) DEFAULT 10,
  `order_finit` int(11) DEFAULT 1120,
  `order_plan_total` int(11) DEFAULT 120,
  `inserted_meters` decimal(12,2) DEFAULT 0.00,
  `pending_meters` decimal(12,2) DEFAULT 0.00,
  `shortage_orders` int(11) DEFAULT 24,
  `shift_start_time` varchar(50) DEFAULT '20:00',
  `actual_time_total` int(11) DEFAULT 700,
  `target_orders` int(11) DEFAULT 120,
  `target_meters` decimal(12,2) DEFAULT 68056.00,
  `target_speed` decimal(8,2) DEFAULT 100.00,
  `target_avg_meters` decimal(10,2) DEFAULT 500.00,
  `target_time_total` int(11) DEFAULT 720,
  `target_time_run` int(11) DEFAULT 675,
  `target_loss_pct` decimal(5,2) DEFAULT 6.25,
  `loss_details` longtext DEFAULT NULL,
  `station_waste` longtext DEFAULT NULL,
  `summary_notes` text DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `raw_filename` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bhs_shift_reports`
--

LOCK TABLES `bhs_shift_reports` WRITE;
/*!40000 ALTER TABLE `bhs_shift_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `bhs_shift_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bhs_target_templates`
--

DROP TABLE IF EXISTS `bhs_target_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bhs_target_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `template_name` varchar(100) NOT NULL DEFAULT 'default',
  `machine_name` varchar(50) NOT NULL DEFAULT 'BHS',
  `target_orders` int(11) NOT NULL DEFAULT 120,
  `target_meters` decimal(10,2) NOT NULL DEFAULT 68056.00,
  `target_speed` decimal(8,2) NOT NULL DEFAULT 100.00,
  `target_avg_meters` decimal(8,2) NOT NULL DEFAULT 500.00,
  `target_time_total` int(11) NOT NULL DEFAULT 720,
  `target_time_run` int(11) NOT NULL DEFAULT 675,
  `target_loss_pct` decimal(5,2) NOT NULL DEFAULT 10.00,
  `target_shortage_pct` decimal(5,2) NOT NULL DEFAULT 15.00,
  `loss_departments` longtext NOT NULL,
  `station_waste_targets` longtext DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bhs_target_templates`
--

LOCK TABLES `bhs_target_templates` WRITE;
/*!40000 ALTER TABLE `bhs_target_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `bhs_target_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_shifts`
--

DROP TABLE IF EXISTS `daily_shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_shifts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `machine` varchar(50) NOT NULL DEFAULT 'BHS',
  `shift_group` varchar(20) NOT NULL DEFAULT 'A',
  `work_date` date NOT NULL,
  `shift_type` varchar(20) NOT NULL DEFAULT 'เน€เธเนเธฒ',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_machine_shift_date` (`machine`,`shift_group`,`work_date`)
) ENGINE=InnoDB AUTO_INCREMENT=217 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_shifts`
--

LOCK TABLES `daily_shifts` WRITE;
/*!40000 ALTER TABLE `daily_shifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disciplinary_records`
--

DROP TABLE IF EXISTS `disciplinary_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `disciplinary_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `incident_date` date NOT NULL,
  `penalty_type` enum('verbal_warning','written_warning','probation_extension','suspension','salary_deduction','termination','other') NOT NULL DEFAULT 'written_warning',
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `punished_by` varchar(100) DEFAULT NULL,
  `document_ref` varchar(100) DEFAULT NULL,
  `photo_path` varchar(255) DEFAULT NULL,
  `status` enum('active','resolved','expired') NOT NULL DEFAULT 'active',
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_employee_id` (`employee_id`),
  KEY `idx_incident_date` (`incident_date`),
  KEY `idx_penalty_type` (`penalty_type`),
  KEY `fk_discipline_user` (`created_by`),
  CONSTRAINT `fk_discipline_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_discipline_user` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disciplinary_records`
--

LOCK TABLES `disciplinary_records` WRITE;
/*!40000 ALTER TABLE `disciplinary_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `disciplinary_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_skills`
--

DROP TABLE IF EXISTS `employee_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_skills` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `level` int(11) DEFAULT 1,
  `m1` int(11) DEFAULT 0,
  `m2` int(11) DEFAULT 0,
  `m3` int(11) DEFAULT 0,
  `m4` int(11) DEFAULT 0,
  `m5` int(11) DEFAULT 0,
  `df` int(11) DEFAULT 0,
  `single_b` int(11) DEFAULT 0,
  `single_c` int(11) DEFAULT 0,
  `control_room` int(11) DEFAULT 0,
  `stacker` int(11) DEFAULT 0,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  CONSTRAINT `fk_skills_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_skills`
--

LOCK TABLES `employee_skills` WRITE;
/*!40000 ALTER TABLE `employee_skills` DISABLE KEYS */;
INSERT INTO `employee_skills` VALUES (1,19,2,100,100,80,100,100,40,20,20,0,0,'2026-09-09 17:44:10'),(2,3,4,100,100,100,100,100,100,100,100,100,100,'2026-09-09 18:02:32');
/*!40000 ALTER TABLE `employee_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_code` varchar(20) NOT NULL,
  `title` varchar(20) NOT NULL DEFAULT 'เธเธฒเธข',
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `nickname` varchar(50) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `department` varchar(50) NOT NULL DEFAULT 'BHS',
  `machine` varchar(20) NOT NULL DEFAULT 'BHS',
  `position` varchar(100) NOT NULL DEFAULT 'เธเธนเนเธเธเธดเธเธฑเธ•เธดเธเธฒเธ Wet End',
  `shift` enum('A','B','AB','Normal') NOT NULL DEFAULT 'A',
  `station` varchar(100) DEFAULT NULL,
  `start_date` date NOT NULL,
  `probation_status` enum('passed','probation','failed','not_applicable') NOT NULL DEFAULT 'passed',
  `probation_pass_date` date DEFAULT NULL,
  `probation_notes` varchar(255) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `status` enum('active','probation','resigned') NOT NULL DEFAULT 'active',
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_code` (`employee_code`),
  KEY `idx_shift` (`shift`),
  KEY `idx_station` (`station`),
  KEY `idx_probation_status` (`probation_status`),
  KEY `idx_start_date` (`start_date`),
  KEY `idx_status` (`status`),
  KEY `fk_employees_created_by` (`created_by`),
  CONSTRAINT `fk_employees_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_records`
--

DROP TABLE IF EXISTS `kpi_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_records` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) NOT NULL,
  `year` int(11) NOT NULL,
  `month` int(11) NOT NULL,
  `ncp` decimal(6,2) DEFAULT NULL,
  `downtime` decimal(6,2) DEFAULT NULL,
  `speed` decimal(6,2) DEFAULT NULL,
  `shortage` decimal(6,2) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_emp_ym` (`employee_id`,`year`,`month`),
  KEY `idx_ym` (`year`,`month`),
  CONSTRAINT `fk_kpi_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=136 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_records`
--

LOCK TABLES `kpi_records` WRITE;
/*!40000 ALTER TABLE `kpi_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_targets`
--

DROP TABLE IF EXISTS `kpi_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kpi_targets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `year` int(11) NOT NULL,
  `month` int(11) DEFAULT NULL,
  `machine` varchar(20) DEFAULT 'ALL',
  `station` varchar(30) NOT NULL DEFAULT 'ALL',
  `ncp_target` decimal(6,2) DEFAULT 0.30,
  `downtime_target` decimal(6,2) DEFAULT 0.21,
  `speed_target` decimal(6,2) DEFAULT 105.00,
  `shortage_target` decimal(6,2) DEFAULT 10.00,
  `is_locked` tinyint(1) NOT NULL DEFAULT 1,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_year_machine_station` (`year`,`machine`,`station`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_targets`
--

LOCK TABLES `kpi_targets` WRITE;
/*!40000 ALTER TABLE `kpi_targets` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_targets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `role` enum('admin','user') NOT NULL DEFAULT 'user',
  `can_edit` tinyint(1) NOT NULL DEFAULT 1,
  `accessible_pages` text DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-09  8:43:18
